body {
    background: url('/img/bg.jpg');
}
img.layoutImg {
    max-width: 100%;
    height: auto;
}

#content {
    margin-top: 15px;
}

#logo, #colorBlock {
    background: url('/img/lightbrown.jpg');
    border: 4px solid #6D3B23;
}

#colorBlock{
    height: 90px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.header {
    height: 100px;
    vertical-align: middle;
}

#menu ul li {
    font-size: 20pt;
    text-align: center;
    background: url('/img/brown.jpg');
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 4px;
    list-style-type: none;
    text-shadow: 1px 1px 1px #6D3B23;
    border: 4px solid #6D3B23;
}
a:focus, a:hover, a:visited, a:active, a{
    color: #000;
    text-decoration: none;
}

/*Staff Page*/
.nameCont, .brownCont, .purpCont, .blueCont, .bio {
    border: 4px solid #6D3B23;
    margin-top: 5px;
    box-shadow: 0 0 3px #6D3B23;
}
.imgCont img{
    border: 4px solid #6D3B23;
    box-shadow: 0 0 3px #6D3B23;
}
.imgCont{
    margin-top: 5px;
}
.nameCont {
    font-size: 20pt;
    text-align: center;
    margin-top: 5px;
    background-color: #F7F7F7
}
.bio {
    margin-top: 5px;
    font-size: 16pt;
    padding: 7px;
    background-color: #F7F7F7
}
.brownCont, .purpCont, .blueCont{
    margin-top: 5px;
    height: 84px;
}
.brownCont{
    background: url('/img/brown.jpg');
}
.purpCont{
    background: url('/img/purple.jpg');
}
.blueCont{
    background: url('/img/lightblue.jpg');
}

/*About Page*/

.aboutPage {
    border: 4px solid #6D3B23;
    box-shadow: 0 0 3px #6D3B23;
    margin-top: 5px;
}

#map_canvas {
    width: 340px;
    height: 308px;
}

#RCE {
    font-weight: bold;
    font-size: 16pt;
}

#content div p {
    font-size: 12pt;
    height: 100%;
}

#about {
    background: #F7F7F7;
    height: 300px;
    padding: 4px;
}

#contact {
    font-size: 16pt;
    text-align: center;
    height: 293px;
    background: #F7F7F7;
}

#aboutImg {
    display: block;
}

/*Project Page*/

.projectPage {
    border: 4px solid #6D3B23;
    box-shadow: 0 0 3px #6D3B23;
    margin-top: 5px;
    height: 600px;
}

#p_map_canvas {
    width: 702px;
    height: 600px;
}
